body {
    padding: 0;
    margin: 0;

    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: normal;
    color: #111032;

    background-color: #F9F9FF;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.content-wrapper {
    width: 770px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    padding: 0;
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.link {
    color: #2F3878;
}

.link:hover {
    opacity: 0.8;
}

.section-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin: 0;
    color: #000;
}

.main-header {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 19px 0;
}

.menu-list {
    list-style: none;
    margin: 0 -35px 0 0;
    padding: 0;
    max-width: 560px;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.menu-item {
    margin-right: 35px;
}

.menu-link {
    text-decoration: none;
    color: #111032;
}

.search-wrapper {
    display: flex;
    align-items: flex-start;
}

.search-wrapper p {
    margin: 0 15px 0 0;
}

.search-button {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    font-size: 0;
    background: transparent url("../img/search icon.svg") no-repeat center;
}

.main-article p[class=""] {
    margin: 0;
}

.main-article h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin: 40px 0 20px;
}

.main-article header {
    background-image:  url("../img/pattern-dots.png"), url("../img/microscope.svg"), url("../img/loop.svg");
    background-repeat: repeat, no-repeat, no-repeat;
    background-position: 0 0, 107px 73px, right 110px top 113px;
    background-color: #161540;
    padding: 126px 0 142px;
    margin-bottom: 60px;
    box-sizing: border-box;
    color: #F9F9FF;
}

.category {
    margin: 0 0 20px;

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #68CDD4;
    
}

h1 {
    margin: 20px 0 10px;

    font-weight: 600;
    font-size: 46px;
    line-height: 52px;
    text-align: center;
}

.theme {
    margin: 10px 0 0;

    font-size: 24px;
    line-height: 35px;
    text-align: center;
}

.intro {
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 30px;
}

.main-article-nav-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #161540;

    margin: 40px 0 20px;
}

.main-article-nav {
    margin: 0;
    padding: 0 0 0 25px;
    font-weight: 600;
}

.main-article-nav .link {
    font-weight: normal;
}

.definition-title {
    margin: 60px 0 30px;
}

.list-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin: 40px 0 20px;
}

.carbohydrates-list {
    list-style-type: lower-alpha;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.carbohydrates-item {
    padding-left: 5px;
    margin-bottom: 10px;
}

.carbohydrates-table {
    border-collapse: collapse;
    width: 100%;
    margin: 35px 0 50px;

    font-size: 18px;
    line-height: 26px;
}

.carbohydrates-table th {
    font-weight: 600;
    text-align: left;
}

.carbohydrates-table th, .carbohydrates-table td {
    padding: 15px 10px;
}

.carbohydrates-table tr:nth-child(even) td {
    background-color: #FFFFFF;
}

.carbohydrates-table  tr:nth-child(odd) td {
    background-color: #E2F2F8;
}

.carbohydrates-table td {
    min-width: 256px;
}