body {
    padding: 0;
    margin: 0;

    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: normal;
    color: #111032;

    background-color: #F9F9FF;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.content-wrapper {
    width: 770px;
    margin: 0 auto;
}

.content-column-wrapper {
    columns: 2;
}

.content-column-wrapper p {
    display: inline-block;
}

.visually-hidden {
    position: absolute;
    padding: 0;
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.link {
    color: #2F3878;
}

.link:hover {
    opacity: 0.8;
}

mark {
    background-color: #95DBE1;
}

.section-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin: 60px 0 30px;
    color: #000;
}

.border-aside {
    width: 100%;
    padding: 30px 20px;
    margin: 45px 0 60px;
    border-top: 3px solid #95DBE1;
    border-bottom: 3px solid #95DBE1;
    text-align: center;
}

.border-aside p {
    line-height: 30px;
}

.border-aside a {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.main-header {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 19px 0;
}

.menu-list {
    list-style: none;
    margin: 0 -35px 0 0;
    padding: 0;
    max-width: 560px;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.menu-item {
    margin-right: 35px;
}

.menu-link {
    text-decoration: none;
    color: #111032;
}

.search-wrapper {
    display: flex;
    align-items: flex-start;
}

.search-wrapper p {
    margin: 0 15px 0 0;
}

.search-button {
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
    font-size: 0;
    background: transparent url("../img/search icon.svg") no-repeat center;
}

.main-article p {
    margin: 0 0 15px;
}

.main-article h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin: 40px 0 20px;
}

.main-article header {
    background-image:  url("../img/pattern-dots.png"), url("../img/microscope.svg"), url("../img/loop.svg");
    background-repeat: repeat, no-repeat, no-repeat;
    background-position: 0 0, 107px 73px, right 110px top 113px;
    background-color: #161540;
    padding: 126px 0 142px;
    margin-bottom: 60px;
    box-sizing: border-box;
    color: #F9F9FF;
}

.category {
    margin: 0 0 20px;

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #68CDD4;
    
}

h1 {
    margin: 20px 0 10px;

    font-weight: 600;
    font-size: 46px;
    line-height: 52px;
    text-align: center;
}

.theme {
    margin: 10px 0 0;

    font-size: 24px;
    line-height: 35px;
    text-align: center;
}

.intro {
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 30px;
}

.main-article-nav-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #161540;

    margin: 40px 0 20px;
}

.main-article-nav {
    margin: 0;
    padding: 0 0 0 25px;
    font-weight: 600;
}

.main-article-nav-item {
    margin-bottom: 15px;
}

.main-article-nav .link {
    font-weight: normal;
}

.list-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin: 40px 0 20px;
}

.carbohydrates-list {
    list-style-type: lower-alpha;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.carbohydrates-item {
    padding-left: 5px;
    margin-bottom: 10px;
}

.carbohydrates-table {
    border-collapse: collapse;
    width: 100%;
    margin: 35px 0 50px;

    font-size: 18px;
    line-height: 26px;
}

.carbohydrates-table th {
    font-weight: 600;
    text-align: left;
}

.carbohydrates-table th, .carbohydrates-table td {
    padding: 15px 10px;
}

.carbohydrates-table tr:nth-child(even) td {
    background-color: #FFFFFF;
}

.carbohydrates-table  tr:nth-child(odd) td {
    background-color: #E2F2F8;
}

.carbohydrates-table td {
    min-width: 256px;
}

.sugar-list {
    margin-bottom: 45px;
}

.sugar-list ul {
    list-style: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;

    counter-reset: sugar_counter;
}

.sugar-list li {
    counter-increment: sugar_counter;
    margin-top: 10px;
    font-weight: 600;
}

.sugar-list li::before  {
    content: counters(sugar_counter, ".") ". ";
}

.sugar-list li li {
    padding-left: 20px;
    font-weight: normal;
}

.scheme-wrapper {
    display: flex;
    justify-content: center;
}

.scheme-wrapper figure {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 50px;
}

.scheme-wrapper img {
    margin: auto 0;
}

.scheme-wrapper figcaption {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.formula {
    margin: 30px 0;
    
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}

.formula sub {
    font-style: normal;
}

.formula-arrow {
    display: inline-block;
    width: 65px;
    height: 10px;
    background: url("../img/arrow.svg");
}

.disaccharides-list {
    list-style: none;
    margin: 15px 0 30px;
    padding: 0;
}

.disaccharides-item {
    margin-bottom: 15px;
    display: flex;
}

.disaccharides-item::before {
    content: "";

    display: block;
    min-width: 10px;
    height: 10px;
    margin-top: 12px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #6563B8;
}

.carbohydrates-norm-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #DDDDE4;
    margin-bottom: 66px;

    font-size: 18px;
    line-height: 23px;
    text-align: center;
}

.carbohydrates-norm-table caption {
    margin: 30px 0;

    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.carbohydrates-norm-table td, .carbohydrates-norm-table th {
    padding: 9px;
    border: 1px solid #DDDDE4;
}

.carbohydrates-norm-table th, .carbohydrates-norm-table tfoot td {
    background-color: #111032;
    color: #F9F9FF;
    font-weight: 600;
}

.carbohydrates-norm-table thead tr:last-child {
    font-size: 14px;
    line-height: 18px;
}

.main-article-footer-meta {
    display: flex;
    align-items: center;
    padding: 25px 0;
    border-top: 1px solid rgba(17, 16, 50, 0.2);
    border-bottom: 1px solid rgba(17, 16, 50, 0.2);

    font-size: 16px;
    line-height: 20px;
}

.main-article-footer-meta p {
    margin: 0;
}

.share-button {
    width: 51px;
    height: 30px;
    margin-left: 10px;
    border: 1px solid rgba(17, 16, 50, 0.2);
    outline: none;
    font-size: 0;
    background: url("../img/share icon.svg") no-repeat center;
}

.category-list {
    list-style: none;
    padding: 0;
    margin: 0 0 0 auto;

    display: flex;
    align-items:flex-start;
}

.category-item {
    margin-right: 15px;
    padding: 4px 30px;
    border: 1px solid rgba(17, 16, 50, 0.2);

    position: relative;
}

.category-item:last-child {
    margin-right: 0;
}

.category-link {
    color: #111032;
    text-decoration: none;
}

.category-link::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.category-link:hover {
    opacity: 0.8;
}